<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cream Service</title>
    <style>

        code {
        }

        pre {
            white-space: pre-wrap;
            background: hsl(30,80%,90%);
        }
    </style>
</head>
<body>
<span>
    Existen tres tipos de archivos de configuración: <br/> <br/>
    - El global, /apps/CreamConfig.js <br/>
    - El de vendor, /src/VendorName/VendorName.js <br/>
    - El de bunch, /src/VendorName/BunchName/BunchNameBunch.js <br/>

    <br/>
</span>
<h2>CreamConfig</h2>
<pre>
    <code>

        System.Cream = {
            services:{
                View      : {
                    engine  : 'twig',
                    filters: {
                        'foo' : 'String.foo'               //Cargar la función foo del servicio String como filter en las vistas
                                                            ej.: 'variable' | foo
                    },
                    helpers : {
                        'bar' : 'bar',                    // Carga la función cream.bar como función dentro de las vistas
                        'foor' : 'String.foo'               ej.: {{ bar ( 'variable' ) }}
                    }
                },

                String:
                {
                    path: 'DoCream/DemoBunch/Service/String' // Para cargar un servicio propio hay que poner el namespace
                                                                en path dentro del servicio.
                },

                Validator : false               // Si queremos desactivar la carga de un servicio poner a false

            },

            utils :
            {
                    utilName : 'DoCream/DemoBunch/Util/Bar'   // Para casrgar una util personal tenemos que indicar el nombre de la misma
                                                                 y el namespace de la misma.
                                                                Todas las funciones dentro de la Util se cargarán como funciones globales en
                                                                el objeto window.cream
            },

            sandbox:{                                       // Si se configura una url de preload para un sandbox, aquí mapeamos el json cargado
                                                                con elementos de la aplicación
                data: {
                    'users'         : ['Repository:User.users', 'Service:Str.path', 'Collection:/ELEMENTS/', 'widget:label:label0.title'],
                    'workStations'  : ['Kit:left.stations']
                }
            }
        };
    </code>
</pre>
<span>
        Podemos mapear el data del sandbox de la siguiente manera:<br/>

         - 'users' : Repository.User.users <br/>

            cargará el atributo 'users' del json cargado al atibuto 'users' del Repository llamado User<br/><br/>

            Este sería similiar para los servicios: Service:Str.path<br/>

         - 'users' : 'widget:label:label0.title'<br/>
                cargará el atributo 'users' del json cargado al atibuto 'title' del Widget del tipo 'label'<br/>
                y que tenga el alias 'label0'.<br/>

            Lo mismo para Kits, plugins, sandbox. También se pueden mapear sin alias: Kit:left.stations <br/><br/>

         -  Collections ( 'Collection:/Collection/Name/' )<br/>
             Se podrán iniciar también de esta manera valores de las collections: <br/>

            'users'         : 'Collection:/ELEMENTS/' <br/>


</span>
<br/>


<h2>Vendor Config</h2>
<pre>
    <code>
        define(
        function DoCream ()
        {
            return  {

            Cream:
            {                    //Configuración de Vendor bajo Cream key
                services:{
                    View      :  false,
                },
                sandbox:{
                    data: {

                    }
                },
                utils: {
                        arr : 'DoCream/DemoBunch/Util/Array'
                }
            }
        };

    </code>
</pre>
<br/>


<h2>Bunch Config</h2>
<pre>
    <code>
        define(
        function DemoBunch ()
        {
        return  {

            Cream   :               //Configuración de bunch bajo Cream key
            {
                services : {

                },
                sandbox:{
                    data: {
                    }
                },

                utils :
                {

                }
            },
            Demo    :   // Configuración para Sandbox en concreto, por Nombre de Sandbox (DemoSandbox)
            {
                services    :
                {

                },

                sandbox     :
                {
                    data :
                    {
                    }
                },

                utils       :
                {

                }
            }
            };

        } );

    </code>
</pre>
<br/>



</body>
</html>