<ul>

    {% for item in items %}
        <li class="hola">
            <input class="item-check" type="checkbox" value="{{item.value}}"/>
            <span class="item-title selected">{{item.title}}</span>
        </li>
    {% endfor %}
</ul>